@font-face {
    font-family: youth-family;
    src: url(fonts/youth_power/Youth_Power.ttf);
}

ul {
    list-style-type: none;
    margin: 0;
}

.topmenu {
    margin-inline: 5%;
    font-family: 'Roboto Mono', monospace;
    font-size: 200%;
}

.topmenu li {
    float: left;
    padding: 10px 16px;
    color: white;
    background-color: black;
}

.topmenu li a {
    text-decoration: none;
    color: white;
}

.topmenu img {
    position: absolute;
    margin: 0;
}

.bottom {
    margin-block: 0%;
    width: 97%;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: youth-family;
    font-size: 200%;
}

.bottom li {
    float: right;
    padding: 10px 16px;
    color: white;
    background-color: black;
}

table {
    border-collapse: collapse;
}


