ul {
    list-style-type: none;
    margin: 0;
}

.topmenu {
    margin-inline: 5%;
    font-family: 'Roboto Mono', monospace;
    font-size: 200%;
}

.topmenu li {
    float: left;
    padding: 10px 16px;
    color: white;
    background-color: black;
}

.topmenu li a {
    text-decoration: none;
    color: white;
}

.topmenu img {

    position: absolute;
    margin: 0;
}

table {
    border-collapse: collapse;
}


